<!-- <router-outlet></router-outlet> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3 p-2 d-flex flex-row flex-wrap align-items-center justify-content-center">
      <cdk-virtual-scroll-viewport itemSize="5" class="example-viewport">
        <ng-container *cdkVirtualFor="let image of images;let i =index">
          <img id="drag{{i+1}}" [src]="image.download_url" alt="{{image.author}}" class="img-thumbnail" height="300"
            width="300" draggable="true" (dragstart)="drag($event)">
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </div>
    <div
      class="col-sm-12 offset-md-3 col-md-7 border-right position-fixed py-2 d-flex flex-row align-items-center justify-content-center full-height">
      <canvas #myCanvas (drop)="drop($event)" (dragover)="allowDrop($event)"></canvas>
      <mat-divider></mat-divider>

    </div>
    <div
      class="col-sm-12 offset-md-10 col-md-2 border-right position-fixed py-2 d-flex flex-column align-items-center justify-content-start full-height">
      <div class="full-width">
        <h6>Switch Aspect Ratio</h6>
        <mat-button-toggle-group #group="matButtonToggleGroup" (change)="setAspectRatio(group.value)">
          <mat-button-toggle *ngFor="let orient of ['potrait', 'landscape'];" [value]="orient"
            [checked]="selectedAspectRatio === orient">
            <mat-icon [ngStyle]="{'transform':orient === 'potrait' ? 'rotateZ(90deg)' : '' }">crop_16_9</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="full-width py-3">
        <!-- <h6>Rotate</h6>
        <mat-button-toggle-group #rotate="matButtonToggleGroup" (change)="rotate(rotate.value)">
          <mat-button-toggle value="left">
            <mat-icon>rotate_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="right">
            <mat-icon>rotate_right</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group> -->
        <h6>Insert Text</h6>
        <!-- <mat-button-toggle-group #text="matButtonToggleGroup" (change)="drawText()">
          <mat-button-toggle>
            <mat-icon>title</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group> -->
        <p class="pt-3 mb-0">
          <mat-form-field appearance="fill">
            <mat-label>Enter the text</mat-label>
            <textarea matInput [formControl]="textCtrl"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Fill Or Stroke</mat-label>
            <mat-select [formControl]="fillStrokeCtrl">
              <mat-option *ngFor="let textSetting of ['Fill', 'Stroke', 'Both']" [value]="textSetting">{{textSetting}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>
    </div>
  </div>
</div>